.navbar {
    margin: 0 auto;
    max-width: 950px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding-top: 5rem;
    font-family: 'Montserrat';
}

.navbar-brand {
    font-style: normal;
    font-weight: 900;
    font-size: 25px;
    color: #FFFFFF;
    text-decoration: none;
}

.nav-item {
    display: flex;
    justify-content: space-between;
    width: 140px;
}

.nav-item a {
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    color: #FFFFFF;
    text-decoration: none;
    white-space: nowrap;
    padding: 0 15px;
}

.nav-item a:hover {
    color: #FF4E50;
}

.nav-item .signup {
    border-radius: 10px;
    border: 2px solid #FFFFFF;
}

.nav-item .signup:hover {
    border: 2px solid #FF4E50;
}

@media(max-width:961px) {
    .navbar {
        margin: 0;
        max-width: 95%;
        padding: 2rem;
        width: 100%;
    }

}

@media(max-width:730px) {
    .navbar-brand {
        display: none;
    }

    .navbar {
        display: block;
    }

    nav .navbar {
        padding: 0;
    }

    .nav-item {
        justify-content: center;
        width: 100%;
    }
}

@media(max-width:1024px) {
    .nav-item {
        width: auto;
    }
}